<nav>
  <div class="center-align">
    <a href="#" data-target="mobile-demo" class="waves-effect waves-light btn deep-orange accent-3"><span class="material-icons">menu</span></a>
  </div>
  <h1>Noelia Otazo Rojo</h1>
  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul>
</nav>
<hr>
<div>
  <img class="circle foto" src="../../assets/multimedia/imagenes/noelia_foto_carnet_grande.jpg">
</div>

