<section>
  <article>
      <div class="container blue-grey lighten-5 hoverable">
          <h2 class="center-align" style="margin-top: 1%;">Laboral Life</h2>
          <table class="centered responsive-table">
              <thead>
                  <tr>
                      <th>Position</th>
                      <th>Company Name</th>
                      <th>Time</th>
                  </tr>
              </thead>

              <tbody>
                  <tr>
                      <td>System Administrator</td>
                      <td>Diversia Renta y Equipos S.L.</td>
                      <td>December 2021 - January 2023</td>
                  </tr>
                  <tr>
                      <td>System Administrator</td>
                      <td>Enogés S.L.</td>
                      <td>March 2021 - June 2021</td>
                  </tr>

              </tbody>
          </table>
      </div>
      <br>
  </article>
</section>
