<section>
  <article>
      <div class="container blue-grey lighten-5" id="#studies">
          <h2 class="center-align" style="margin-top: 1%;">Studies</h2>
          <ul class="collapsible">
              <li>
                  <div class="collapsible-header"><i class="material-icons">computer</i>IFC01S: Administration of
                      networked computer systems</div>
                  <div class="collapsible-body orange lighten-5"><p style="text-align: justify;">IES Ribera de Castilla<br>Ending date: 2021<br>Information: The general competence of this degree
                          consists of configuring, managing and maintaining computer systems, guaranteeing the
                          functionality, integrity of the system's resources and services, with the required
                          quality and complying with current regulations.</p></div>
              </li>
              <li>
                  <div class="collapsible-header"><i class="material-icons">code</i>IFC03S: Web application
                      development (in progress)</div>
                  <div class="collapsible-body orange lighten-5"><p style="text-align: justify;">IES Ribera de Castilla<br>Ending date: 2023<br>Information: The general competence of this degree
                          consists of developing, implementing, and maintaining web applications, regardless of
                          the model used and using specific technologies, guaranteeing access to data in a secure
                          manner and meeting the accessibility, usability, and quality criteria required by the
                          standards. established.</p></div>
              </li>
              <li>
                  <div class="collapsible-header"><i class="material-icons">translate</i>B2 - English Level</div>
                  <div class="collapsible-body orange lighten-5"><p style="text-align: justify;">Oxford Test of English<br>Date: 26/09/2022<br>B2 of the Common European Framework of Reference (CEFR).</p></div>
              </li>

          </ul>
      </div>
      <br>
      <div class="container blue-grey lighten-5">
          <h2 class="center-align" style="margin-top: 1%;">Other titles and certificates</h2>
          <ul class="collapsible">
              <li>
                  <div class="collapsible-header"><i class="material-icons">directions_car</i>Driving license</div>
                  <div class="collapsible-body orange lighten-5"><p style="text-align: justify;">DGT<br>Date: 2018</p></div>
              </li>
              <li>
                  <div class="collapsible-header"><i class="material-icons">devices</i>Rasberry Pi for developers</div>
                  <div class="collapsible-body orange lighten-5"><p style="text-align: justify;">OpenWebinars<br>Duration: 10h<br>Date: 06/04/2021</p></div>
              </li>
              <li>
                  <div class="collapsible-header"><i class="material-icons">devices_other</i>Unity</div>
                  <div class="collapsible-body orange lighten-5"><p style="text-align: justify;">OpenWebinars<br>Duration: 15h<br>Date: 05/05/2021</p></div>
              </li>
              <li>
                  <div class="collapsible-header"><i class="material-icons">important_devices</i>Wireframing with Figma</div>
                  <div class="collapsible-body orange lighten-5"><p style="text-align: justify;">OpenWebinars<br>Duration: 1h<br>Date: 22/10/2022</p></div>
              </li>
          </ul>
      </div>
  </article>
</section>
