<section>
  <article>
      <div class="container blue-grey lighten-5 hoverable col row">
          <div class="col s3">
              <img class="" src="../../assets/multimedia/imagenes/LOGO_NOSOLUTION2.png" style="width: 100%; margin: 1%;">
          </div>
          <div class="col s9">
              <h2 class="center-align">About me</h2>
              <p style="text-align: justify;">
                  My name is Noelia Otazo, I'm 23 years old. I'm from Valladolid, Spain.<br>
                  I'm really keen on sports and computer knowledge.
                  I'm a student of second course of Web application development. <br>I have been helping as a soccer
                  coach since I was 18 years old. This has helped me to train myself in dealing with children, as
                  well as dealing with adults. I consider myself a serious and formal person.
              </p>
          </div>
      </div>
  </article>
</section>
